.navToggleBtn{
    background-color: transparent;
    color: #fff ;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-right: 5px;
    display: none;
}
@media screen and (max-width: 915px) {
    
    
    .navToggleBtn{
        display: block;

    margin-right: 20px;
    }
    .navbar ul  {
      position: fixed;
      display: flex;
      justify-content: flex-start;
      top: 64px;
      right:  -100%;
      width: 50%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      background-color: #2b2c2c;
      transition: all 0.9s ease;
      padding-top: 20px;
    }
    .navbar ul  li{
        margin: 18px 0px;
       
    }
    .navbar ul li a{
        color: #bac8d3;

    }
    .navbar ul li a:hover{
        color: #fff;
    }
  
    .navbar ul.active {
      right: 0%;
margin-right: 0px;

    }
    
  }